*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    
    }
        
        .electro{
            background-image: url("electronica.gif");
            width: 440px;
            height: 440px;

        }
        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 316px;
            
             
            
            }

            .imagentecno{
        
         
        
                background-repeat: no-repeat;
                
                float:right;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("medellin.jpeg");
                
                }
                
                
                
                .textotecno{
                
                text-align: justify;
                
                color: rgb(242, 81, 7);
                
                font-size: 30px;
                
                
                
                }
        
        
 .imagen{
        
         
        
        background-repeat: no-repeat;
        
        float:right;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("medellin.jpeg");
        
        }
        
        
        
        .texto{
        
        text-align: justify;
        
        color: rgb(242, 81, 7);
        
        font-size: 30px;
        
        
        
        }
        .imagenop.electrico{
        
         
        
            background-repeat: no-repeat;
            
            float:right;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right: 5px;
            
            background-image: url("op.electrico.png");
            
            }
            .imagengif.gif{
                background-repeat: no-repeat;
            
                float: right;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("GIF_files");
                background-position: center;

            }
            .imagengif22.png{
                background-repeat: no-repeat;
            
                float:right;
                
                height: 200px;
                
                width: 260px;
                margin-left: 5px;
                
                margin-right: 5px;
                
                background-position: center;
                background-image: url("gif22.png");
            
            }
                